<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información COVID
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab-button [routerLink] = "['/paises']">
    <ion-icon name = "add"></ion-icon>
  </ion-fab-button>
  <ion-list>
    <ion-list-header>
      {{lastDate| date : 'dd/MM/yyyy HH:mm'}}
    </ion-list-header>

    <ion-item color= "warning">
      <h2 style="color:primary;">Nuevos Casos Confirmados</h2>
      <h2>{{summary.NewConfirmed|number:0}}</h2>
    </ion-item>
    <ion-item color= "warning">
      <h2 style="color:primary;"> Casos Totales Confirmados</h2>
      <h2>{{summary.TotalConfirmed|number:0}}</h2>
    </ion-item>
    <ion-item color = "primary">
      <h2 style="color:secundary;"> Nuevas Muertes Registradas </h2>
      <h2>{{summary.NewDeaths|number:0}}</h2>
    </ion-item>
    <ion-item color = "primary">
      <h2 style="color:secundary;"> Muertes Totales Registradas </h2>
      <h2>{{summary.TotalDeaths|number:0}}</h2> 
    </ion-item>
    <ion-item color = "#06E350">
      <h2 style="color:warning;"> Nuevos Recuperados Sanos </h2>
      <h2>{{summary.NewRecovered|number:0}} </h2>
    </ion-item>
    <ion-item color = "#06E350">
      <h2 style="color: warning;">  Totales Recuperados Sanos </h2>
      <h2>{{summary.TotalRecovered|number:0}} </h2>
    </ion-item>
  </ion-list>
  <ion-card *ngFor ="let pais of n_paises"> 
    <ion-card-header>
      {{pais.Country}}
    </ion-card-header>
    <ion-item color= "warning">
      <h2 style="color:primary;">Nuevos Casos Confirmados</h2>
      <h2>{{pais.NewConfirmed|number:0}}</h2>
    </ion-item>
    <ion-item color= "warning">
      <h2 style="color:primary;"> Casos Totales Confirmados</h2>
      <h2>{{pais.TotalConfirmed|number:0}}</h2>
    </ion-item>
    <ion-item color = "primary">
      <h2 style="color:secundary;"> Nuevas Muertes Registradas </h2>
      <h2>{{pais.NewDeaths|number:0}}</h2>
    </ion-item>
    <ion-item color = "primary">
      <h2 style="color:secundary;"> Muertes Totales Registradas </h2>
      <h2>{{pais.TotalDeaths|number:0}}</h2> 
    </ion-item>
    <ion-item color = "#06E350">
      <h2 style="color:warning;"> Nuevos Recuperados Sanos </h2>
      <h2>{{pais.NewRecovered|number:0}} </h2>
    </ion-item>
    <ion-item color = "#06E350">
      <h2 style="color: warning;">  Totales Recuperados Sanos </h2>
      <h2>{{pais.TotalRecovered|number:0}} </h2>
    </ion-item>



    </ion-card>
</ion-content>
